<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/DefaultLayout}">

<head>
    <title>Atividades</title>
</head>

<section layout:fragment="content">
    <div class="page-header">
        <div class="row">
            <div class="col-10">
                <h2>Atividades</h2>
            </div>

            <div class="col-2">
                <a class="btn btn-primary" th:href="@{/atividade/novo}"><span
                        class="d-none d-md-block">Novo atividade</span><i class="fas fa-plus d-lg-none d-xl-none"></i></a>

            </div>
        </div>
    </div>
    <div class="table-responsive">
        <!--/*@thymesVar id="entities" type="java.util.List"*/-->
        <div th:if="${#lists.isEmpty(entities)}">
            <p>Nenhum registro encontrado</p>
            <hr>
        </div>
        <div th:if="${!#lists.isEmpty(entities)}">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" width="8px">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descricao</th>
                    <th scope="col">Portfólio</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tr th:each="atividade : ${entities}">
                    <!--/*@thymesVar id="atividade" type="br.uece.engenharia.software.AHPSystem.model.Atividade"*/-->
                    <td>
                        <a class="btn-outline-primary btn btn-sm" th:text="${atividade.id}"
                           th:href="@{'/atividade/' + ${atividade.id}}">...</a>
                    </td>
                    <td th:text="${atividade.nome}">...</td>
                    <td th:text="${atividade.descricao}">...</td>
                    <td >
                        <a class="btn btn-outline-primary"
                                th:href="@{'/portfolio/' + ${atividade.portfolio.id}}"
                                th:text="${atividade.portfolio.nome}"></a>
                    </td>
                    <td id="action-buttons">
                    <span class="float-right">
                        <a class="btn btn-sm btn-outline-primary"
                           th:href="@{'/atividade/' + ${atividade.id} + '/edit' }">
                            <i class="fas fa-pen-square"></i> Editar
                        </a>
                        <a class="btn btn-sm btn-outline-primary"
                           th:href="@{'/atividade/' + ${atividade.id} + '/remover'}">
                            <i class="fas fa-trash-alt"></i> Remover
                        </a>
                    </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
</html>
