<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/DefaultLayout}">
<head>
    <title>Portfolio</title>
</head>

<section layout:fragment="content">
    <!-- Page Content -->

    <div class="container">


        <!-- Heading Row -->

        <div class="row my-4">

            <div class="col-lg-8">

                <img class="img-fluid rounded" th:src="@{/images/ahp.png}"  src="http://placehold.it/900x400" alt="">

            </div>

            <!-- /.col-lg-8 -->

            <div class="col-lg-4">

                <h2>AHP System</h2>
                <hr>
                <p style="text-align: justify">O sistema realiza a  aplicação do modelo matemático Analytic Hierarchy Process (AHP) para priorização de seleção ou para identificação de projetos/atividades de maior importância para um portfólio. A aplicação do sistema permite ao usuário fazer análises multicritério dos projetos/atividades em um portifólio que permitam tomada de decisões, favorecendo e oritendo a realização de seus objetivos. O sistema independe de outros sistemas. </p>
                <hr>
                <a class="btn btn-primary btn-lg" href="#portfoliosCard">Veja em ação!</a>

            </div>

            <!-- /.col-md-4 -->

        </div>

        <!-- /.row -->


        <!-- Call to Action Well -->
        <div class="card text-white bg-secondary my-4 text-center">

            <div class="card-body">

                <p class="text-white m-0">O sistema permite o cadastro de portfólio, critérios e atividades para a realização do Analytic Hierarchy Process (AHP) de suas atividades para um dado portfólio.</p>
                            <p>Os resultados poderão ser vistos por meios vizuais e um relatório dos resultados em uma planilha editável poderá ser gerado</p>

            </div>

        </div>


        <!-- Content Row -->
        <hr>
        <div class="row">

            <div class="col-md-4 mb-4">

                <div class="card h-100">

                    <div class="card-body" id="portfoliosCard">

                        <h2 class="card-title">Portfolios</h2>

                        <p class="card-text" style="text-align: justify">Um Portfólio é uma coleção de todo o trabalho em andamento na organização relacionado com o alcance dos objetivos do negócio.</p>

                    </div>

                    <div class="card-footer">

                        <a href="#" th:href="@{/portfolio}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Página de portfólios">Acesse</a>

                    </div>

                </div>

            </div>

            <!-- /.col-md-4 -->

            <div class="col-md-4 mb-4">

                <div class="card h-100">

                    <div class="card-body">

                        <h2 class="card-title">Atividades</h2>

                        <p class="card-text" style="text-align: justify">Gerencie e cadastre atividades. <br>Acesso através da página de portfólios.</p>

                    </div>

                    <div class="card-footer">

                        <a href="#" class="btn btn-primary" th:href="@{portoflios/}" data-toggle="tooltip" data-placement="top" title="Acesso através da página de portfólios.">Acesse</a>

                    </div>

                </div>

            </div>

            <!-- /.col-md-4 -->

            <div class="col-md-4 mb-4">

                <div class="card h-100">

                    <div class="card-body">

                        <h2 class="card-title">Critérios</h2>

                        <p class="card-text" style="text-align: justify">Gerencie e cadastre critérios para análise AHP posterior na página de portfólios.</p>

                    </div>

                    <div class="card-footer">

                        <a href="#" th:href="@{/criterio}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Página de crítérios.">Acesse</a>

                    </div>

                </div>

            </div>

            <!-- /.col-md-4 -->

        </div>
        <hr>
        <!-- /.row -->



    </div>

    <!-- /.container -->
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</section>
</html>
