<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/DefaultLayout}">

<head>
    <title>Portfolio</title>
</head>

<section layout:fragment="content">
    <!--/*@thymesVar id="entity" type="br.uece.engenharia.software.AHPSystem.model.Criterio"*/-->
    <form action="#" th:action="@{/criterio/novo}" th:object="${entity}" method="post">
        <fieldset>
            <h2>Critério</h2>
            <input type="hidden" name="id" th:field="*{id}">
            <div class="form-group"
                 th:attrappend="class=${#fields.hasErrors('nome') ? ' has-danger' : ' '}">
                <label class="form-control-label" for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="Digite o nome"
                       th:field="*{nome}"
                       th:attrappend="class=${#fields.hasErrors('nome') ? ' is-invalid' : ' '}">
                <small class="form-text text-muted">Identificação do portifólio.</small>
                <div class="invalid-feedback" th:errors="*{nome}"></div>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </fieldset>
    </form>
</section>
</html>
