<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/DefaultLayout}">

<head>
    <title>Portfolio</title>
</head>

<section layout:fragment="content">

    <th:block th:include="fragments/MensagemErro"></th:block>

    <div class="page-header">
        <div class="row">
            <div class="col-10">
                <h2>Critérios</h2>
            </div>

            <div class="col-2">
                <a class="btn btn-primary" th:href="@{/criterio/novo}"><span
                        class="d-none d-md-block">Novo critério</span><i class="fas fa-plus d-lg-none d-xl-none"></i></a>

            </div>
        </div>
    </div>

    <div class="table-responsive">
        <!--/*@thymesVar id="criterios" type="java.util.List"*/-->
        <div th:if="${#lists.isEmpty(criterios)}">
            <p>Nenhum registro encontrado</p>
            <hr>
        </div>
        <div th:if="${!#lists.isEmpty(criterios)}">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" width="8px">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tr th:each="criterio : ${criterios}">
                    <!--/*@thymesVar id="criterio" type="br.uece.engenharia.software.AHPSystem.model.Criterio"*/-->
                    <td>
                        <a class="btn-outline-primary btn btn-sm" th:text="${criterio.id}"
                           th:href="@{'/criterio/' + ${criterio.id}}">...</a>
                    </td>
                    <td th:text="${criterio.nome}">...</td>
                    <td id="action-buttons">
                    <span class="float-right">
                        <a class="btn btn-sm btn-outline-primary"
                           th:href="@{'/criterio/' + ${criterio.id} }">
                            <i class="fas fa-pen-square"></i> Editar
                        </a>
                        <a class="btn btn-sm btn-outline-primary"
                           th:href="@{'/criterio/' + ${criterio.id} + '/remover'}">
                            <i class="fas fa-trash-alt"></i> Remover
                        </a>
                    </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>
</html>
